
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo - Kategori Örneği</h3>
<br />
<table border="1">
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklaması</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Burası Eğitim kategori alanıdır.</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Tiyatro</td>
        <td>Burası Tiyatro kategori alanıdır.</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Açıklama alanı</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Spor</td>
        <td>Açıklama alanı</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Film</td>
        <td>Açıklama alanı</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Dizi</td>
        <td>Açıklama alanı</td>
        <td>Aktif</td>
    </tr>


</table>